<?xml version="1.0"?>
<config>
    <modules>
        <Company_Easytopmenu>
            <version>0.0.1</version>
        </Company_Easytopmenu>
    </modules>
    <global>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <add_easy_top_menu>
                        <class>easytopmenu/observer </class>
                        <method>addeasytopmenu</method>
                    </add_easy_top_menu>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
        <blocks>
            <easytopmenu>
                <class>Company_Easytopmenu_Block</class>
            </easytopmenu>
        </blocks>
        <helpers>
            <easytopmenu>
                <class>Company_Easytopmenu_Helper</class>
            </easytopmenu>
        </helpers>
        <models>
            <easytopmenu>
                <class>Company_Easytopmenu_Model</class>
                <resourceModel>easytopmenu_resource</resourceModel>
            </easytopmenu>
            <easytopmenu_resource>
                <class>Company_Easytopmenu_Model_Resource</class>
                <entities>
                    <url>
                        <table>easy_top_menu</table>
                    </url>
                </entities>
            </easytopmenu_resource>
        </models>
        <resources>
            <easytopmenu_setup>
                <setup>
                    <module>Company_Easytopmenu</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </easytopmenu_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <easytopmenu before="Mage_Adminhtml">Company_Easytopmenu_Adminhtml</easytopmenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <easytopmenu>
                    <file>easytopmenu.xml</file>
                </easytopmenu>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <general_options>
                                            <title>Company Easytopmenu Module Section</title>
                                        </general_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
